.productgrid_sidebar {
    width: 185px;
}
.productgrid--wrapper {
    grid-area: product-items-wrapper;
    width: 100%;
}
.productgrid_utils {
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.75rem;
    background-color: #f6f6f6;
    table-layout: fixed;
}
.productgrid_items {
    margin-top: 1.75rem;
    padding: 0;
}
.productitem {
    margin: 20px 0 0;
    border: 1px solid rgba(128, 128, 128, 0.16);
    box-shadow: 0 1px 4px rgb(128 128 128 / 11%);
    padding: 1rem;
    background: #fff;
    transition: height 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.productitem_image_link{
    width: 25%;
}