.account-page {
    @media screen and (min-width: 1024px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    margin-top: 30px;
    margin-bottom: 30px;
}
.account_page_masthead{
    text-align: center;
}