.account-page {
    @media screen and (min-width: 1024px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    margin-top: 30px;
    margin-bottom: 30px;
}
.account_page_masthead {
    @media screen and (min-width: 1024px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    @media screen and (min-width: 720px) {
        padding-right: 15px;
        padding-left: 15px;
    }
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 1500px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
    .account_page_title {
        font-size: 1.875rem;
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        letter-spacing: 0.08em;
        color: #4c4c4c;
    }
}
.account_page_content {
    @media screen and (min-width: 1024px) {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    @media screen and (min-width: 720px) {
        padding-right: 15px;
        padding-left: 15px;
    }
    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: auto;
    margin-left: auto;
}
.account_recovery {
}
.account_page_subtitle {
    margin-top: 2rem;
    font-size: 1.125rem;
    margin-bottom: 0.75rem;
    color: #4c4c4c;
    font-family: Arimo, sans-serif;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.08em;
}
.form_field {
    margin-bottom: 1.25rem;
    position: relative;
}
.form_field_input {
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.15;
    padding: 1rem 0.625rem 0.375rem;
    color: #4d4d4d;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 0;
    overflow: visible;
    width: 100%;
    transition: all 125ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form_action_row{
    margin-top: 1.25rem;
    
}