.promo_mosaic_container {
    padding-right: 25px;
    padding-left: 25px;
}
.promo-block_index_1 {
    padding: 1.75rem;
    width: 953px;
    height: 680px;
    img {
        @media screen and (min-width: 860px) {
            min-height: 330px;
        }
    }
}
