.promo_mosaic_container{
    padding-right: 25px;
    padding-left: 25px;
}
.promo-block_index_1{
    position: relative;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    
}